#transactions {
  padding: 2em;
  .main-card {
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 20px;
  }
  * {
    color: var(--main-color);
  }
  ::-webkit-scrollbar {
    width: 6px;
    background: #e0e0e0;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--side-color);
  }
  .properties {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .transaction {
    .details {
      p {
        font-weight: bolder;
        margin-bottom: 1em;
      }
    }
  }
  .properties {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 5px;
    .property {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: #f5f6fa;
      margin: 0 0 0.6em;
      border-radius: 10px;
      padding: 1em;
      cursor: pointer;

      .img-container,
      img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        margin-right: 0.8em;
      }

      h5 {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 1.2em;
      }
    }
    .property.active {
      background-color: var(--side-color);
      * {
        color: white;
      }
      img {
        border: 2px solid white;
      }
    }
  }
  .transaction {
    .transaction-title {
      font-weight: bolder;
      color: var(--main-color);
    }
    .detail {
      margin: 0.7em 0;
      padding: 0 10px;
      p {
        margin: 0;
        font-weight: bolder;
      }
    }
  }
  .feedback i {
    color: #e8e8e8;
    cursor: pointer;
  }
  i.fa-star.gold {
    color: #ffa500;
  }
}
#card-error {
  color: rgb(105, 115, 134);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}
#card-element {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  width: 100%;
  background: white;
}
#payment-request-button {
  margin-bottom: 32px;
}
